@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
html, body {
  background: #fff;
  height: 100%;
}

.title {
  text-align: center;
  color: white;
  font-size: 2em;
  float: left;
  margin-left: 2em;
  padding-top: .2em;
  font-family: "Open Sans", sans-serif;
}

.container {
  background: #3498db;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 10;
  padding: 2em;
  position: relative;
}

.container.nav-open {
  margin-top: 8em;
  width: 90%;
  transition: all 0.3s ease;
}

.menu-icon {
  position: relative;
  display: block;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}

.menu-icon span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 0.25em;
  background-color: white;
  border-radius: 3px;
}

.menu-icon span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  -webkit-transform: translateY(-0.75em);
      -ms-transform: translateY(-0.75em);
          transform: translateY(-0.75em);
}

.menu-icon span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  -webkit-transform: translateY(0.75em);
      -ms-transform: translateY(0.75em);
          transform: translateY(0.75em);
}

/* OPENED */
.menu-icon.open {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-icon.open span:before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-icon.open span:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav {
  position: fixed;
  top: 0;
  left: 5%;
  color: #fff;
  z-index: 1;
}

.nav ul li.animate {
  top: 0;
}

.nav li {
  display: inline-block;
  text-align: center;
  margin: 1em 2em;
  cursor: pointer;
  position: relative;
  top: -8em;
}

.nav li:nth-child(1) {
  transition: top 0.3s ease 0.15s;
}

.nav li:nth-child(2) {
  transition: top 0.3s ease 0.2s;
}

.nav li:nth-child(3) {
  transition: top 0.3s ease 0.25s;
}

.nav li:nth-child(4) {
  transition: top 0.3s ease 0.3s;
}

.nav li:nth-child(5) {
  transition: top 0.3s ease 0.35s;
}

.nav li i {
  font-size: 1.5em;
  background: #ff69b4;
  padding: 0.75em;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}

.nav li h4 {
  color: #aaaaaa;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  padding-top: .2em;
}
